.App {
  display: inline-block;
  border-right: 2px ridge #3c3c3c;
  border-left: 2px groove #3c3c3c;

  .TopControlBar {
  	background-color: #282828;
  	border-bottom: 2px groove #3c3c3c;
  	border-top: 2px groove #3c3c3c;
  	height: 40px;
  }

  .BottomControlBar {
  	background-color: #282828;
  	border-top: 2px ridge #3c3c3c;
  	border-bottom: 2px ridge #3c3c3c;
  	height: 40px;
  }
}

