.ColorInfo {
  display: flex;
  flex-direction: column;
	width: 128px;
  height: 256px;
  margin: 0 5px;

  .Swatch {
    display: flex;
    align-self: flex-end;
    height: 40%;
    width: 100%;
    margin-bottom: 8px;
  }

  .ColorInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 60%;
    padding: 10px 10px;
    background-color: rgb(60,60,60);

    .InputField {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      color: rgb(200,200,200);

      input {
        display: flex;
        background: rgb(100,100,100);
        border: none;
        border-radius: 3px;
        color: rgb(200,200,200);
        width: 80%;
        padding: 5px;

        &:focus {
          outline-width: 0;
        }
      }

      span {
        display: flex;
        align-items: center;
        width: 20%;
        cursor: default;
        user-select: none;
      }
    }
  }
}