.RGBEditor {
  display: flex;
  flex-direction: column;
  height: 256px;
  margin: 0 5px;
  user-select: none;
  width: 128px;

  .Swatch {
    align-self: center;
    border: 1px solid #3c3c3c;
    display: flex;
    height: 40%;
    margin-bottom: 8px;
    width: 100%;
  }

  .ColorInputs {
    background-color: #2e2e2e;
    border: 1px solid #3c3c3c;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    padding: 10px 10px;
    user-select: none;
    width: auto;

    .ColorInput {
      color: #bbb;
      display: flex;
      flex-direction: row;
      font-size: 12px;

      input {
        background-color: #4c4c4c;
        border: none;
        border-radius: 3px;
        color: rgb(200,200,200);
        display: flex;
        padding: 5px;
        width: 80%;
        
        &:focus {
          outline-width: 0;
        }
      }

      span {
        align-items: center;
        cursor: default;
        display: flex;
        user-select: none;
        width: 20%;
      }
    }
  }
}